@media only screen and (max-width: 1366px){

.bc-img01 { height: 100vh; }
.girlsdv { left: 23rem; }
.boydv { left: 18rem; }
.w-50 {
    width: 60%!important;
}
.icon_absolute { left: 47rem; z-index: 5;}
.star_absolute { left: 27rem;}
.bord-rt-left { left: 42%;}
.bc-img01:after { height: 65%;}
}

@media only screen and (max-width: 1024px){
#hero.container-fluid, #hero.container-fluid .row { padding-left: 0px; padding-right: 0px; margin-right: 0px; margin-left: 0px; }
}

@media only screen and (max-width: 980px){
.desktop, .project_logo::after, .scholorships-section:after, #toppers-silder.owl-theme .owl-nav [class*=owl-], .bc-img01:after { display: none;}
.mobile { display: block;}
.dsu-intro { position: relative; width: 100%; top: 0; }
.dsu-form { margin-left: auto; margin-right: auto; margin-top: -3rem; margin-bottom: 0; }
.dsu-addmission { margin-top: 0px; padding: 0px; text-align: center; }
.bc-img01 { background-image: none; background-attachment: initial; background-color:  transparent; height: auto;}
.leftsec_content { padding: 1rem 1rem 5rem 1rem;  }
#back-top { display: none !important; }
.header-absolute { position: relative !important;}
.logo { text-align:center; }
.mx-5 { margin: 0!important; }

.dsu-form { float: none; padding: 1rem 0; }
.bannerContent .blob h1 br, .project-block-inner .project-item .project-content h5 br { display: none; }
.toppers__block .toppers-item { width: auto; height: auto; }
.toppers__block .toppers-item h6 {
    position: relative;
    bottom: 0;
    margin-top: 1rem;
}
#toppers-silder.owl-theme .owl-item.active.center .toppers-item { transform: none; }
.px-5, .px-4 {
    padding-right: 0rem!important;
    padding-left: 0rem!important;
}
.ps-4 {
    padding-left: 0rem!important;
}
#courses-slider.owl-theme .owl-dots {
    position: relative;
    left: auto;
    bottom: auto;
}
.tailored__item .tailored__content {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
 .trainer-section:after { height:100%; }
 .trainer-section .widget-title {
    margin-top: 0rem;
}
.trainer__name { margin-top: 2rem; }
.trainer-section {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
}

@media only screen and (max-width: 736px){
.container { max-width: 100%;}
.thankyou-sec .hero-thankyou .bc-img01 .thankyou__dv { width: 100%; margin: 20% 0; }
.eligible__md { margin-right: 0;}
.benefits-section  .row.align-items-center.py-5 { padding-top: 0rem!important; padding-bottom: 0rem!important;}
.project-block-inner .project-item .project-one-icon { position: relative; left: auto; margin-bottom: 1rem; margin-left: auto;
    margin-right: auto; }
.project-block-inner .project-item .project-content { margin-left: 0;}
.project-block-inner .project-item, .project-block-inner .project-item:last-child { border: 1px solid rgba(0, 0, 0, 0.1);}
}

@media only screen and (max-width: 667px){
.sideNavi {
position: fixed;
width: 100%;
bottom: 0px;
top: auto; right: auto;
left: 0;
z-index: 50;
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
}
.sideNavi a { display: block; text-align: center; padding: 12px 2px; color: #ffff; background-color: var(--bg-orange); }
.footer { height: 100px; font-size: 12px; }
.sideNavi .sideNavi-flex { display: flex;}
.sideNavi-item { width: 100%;}
.benefits-section .benefits-item .bene_content { margin-right: 0;}


.courses__fluid .institute-col .institute-ab { width: 100%; clip-path: none;     position: relative; }
.institute-item img { display: none; }
.courses__fluid .institute-col { padding: 1rem 0rem; } 
.ins__content {
    padding: 1rem;
    width: 100%;
    display: table;
    padding-top: 1rem;
}
ul.listing li { width:100%; }
.courses__section .widget-title { text-align: left !important; }
.slider2.owl-theme .owl-nav { top: -68px; }

.courses__fluid .institute-col .institute-ab, .courses__fluid .institute-col .institute-item:nth-child(4) .institute-ab { background-color: rgba(208, 33, 33); }
.courses__fluid .institute-col .institute-item:nth-child(2) .institute-ab {
    background-color: rgba(236, 200, 12);
}
.courses__fluid .institute-col .institute-item:nth-child(3) .institute-ab, .courses__fluid .institute-col .institute-item:nth-child(5) .institute-ab {
    background-color: rgba(55, 162, 195);
}
#gallery-slides.owl-theme .owl-nav { margin-top: 0; position: relative; top: 0; }
.students__section .students__block .students__item .text-justify { text-align: center !important; font-size: 14px; }
.students__section .students__block .students__item .students__wrap { display: block;    flex-wrap: wrap;
    text-align: center; }
.students__section .students__block .students__item .students__photo { margin: 0.8rem auto; }
.p-3 {
    padding: 0rem!important;
}
.sideNavi {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
}
.video-button { width: 60px; height: 60px; line-height: 62px; font-size: 1.2rem; }
#project-slider { margin-top: 4rem; }
.benefits-section .benefits-item, .ticker_item .ticker_front { padding: 1rem; }

.benefits-section .benefits-item .bene_content .fs-5 {
    font-size: 1rem!important;
}
#ticker-slider .owl-item.active.center .ticker_back { top: 0; opacity:1; }
.campus-section .widget-title, .tailored-section .widget-title  { text-align: center; }
}

@media only screen and (max-width: 568px){
.dsu-form { width: 100%; }
.project-block-inner .project-item { padding: 1rem; text-align: center; }
.faq__section .accordion-item .accordion-button {
        padding: 0.5rem;
    font-size: 0.9rem;
}
.accordion-body p, .accordion-body ul.listing li { font-size: 14px; }
.marquee { flex-wrap: wrap; }
.marquee strong { margin-bottom: 0.5rem; }
.arliback { display:none; }
.marquee .fw-normal {
    font-size: 1.25rem!important;
}
.growing__section { padding: 2rem 0; }
.w-50 {
    width: 80%!important;
} 
.bannerContent p br { display: none; }
}

@media only screen and (max-width: 480px){
.fsize28 { font-size: 20px; }
.thankyou-sec .hero-thankyou .bc-img01 .thankyou__dv h3 { font-size: 3em;}
.thankyou-sec .hero-thankyou .bc-img01 .thankyou__dv p { font-size: 16px; }
.thankyou-sec .hero-thankyou .bc-img01 { width: 100%; height: 100vh;  }

}

@media only screen and (max-width: 414px){


}

@media only screen and (max-width: 384px){


}


@media only screen and (max-width: 360px){

}

@media only screen and (max-width: 320px){

}
